.movie {
  max-width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.movieContent {
  display: inline-block;
  float: top;
}

.date {
  max-width: 20%;
}

.form-group {
  margin-left: 44%;
  width: 12%;
}
.placeholder {
  color: black;
}
