<h1>Palaute</h1>
<div class="feedback">
  <mat-card class="fbCard" *ngFor="let item of feedbackItemsList">
    {{item.question}}
    <br>
    <!--Slider value is 0, while no value
    <mat-slider class="slider" min="0" max="4" step="1" #matslider ></mat-slider>-->
    <mat-slider (input)="onInputChange($event, item)" class="slider"
                min="0"
                max="4"
                step="1"
                #matslider></mat-slider>
    <div>{{item.answerList[matslider.value]}}</div>
    <!--<div>{{question.answerList[matslider.value]}}</div>-->
  </mat-card>
</div>
