<mat-toolbar color="accent">
  <button mat-flat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon> Front-end työkalut</button>
  <mat-menu #menu="matMenu">
    <a href="/calculator"><button mat-flat-button><mat-icon>dialpad</mat-icon> Laskin</button></a><br>
    <a href="/feedback"><button mat-flat-button><mat-icon>child_care</mat-icon> Palaute</button></a><br>
    <a href="/form"><button mat-flat-button><mat-icon>description</mat-icon> Lomake</button></a><br>
    <a href="/reactiveform"><button mat-flat-button><mat-icon class="reactiveformIcon">description</mat-icon> Toisenlainen lomake</button></a><br>
    <a href="/cinema"><button mat-flat-button><mat-icon>photo_camera</mat-icon> Filmiteatteri</button></a><br>
    <a href="/currency"><button mat-flat-button><mat-icon>euro_symbol</mat-icon> Valuuttamuunnin</button></a>
    <a href="/admin-login"><button mat-flat-button><mat-icon>person</mat-icon> Admin-näkymä</button></a>
  </mat-menu>
</mat-toolbar>
