.container {
  margin-left: 35%;
  background: lightgreen;
  margin-right: 35%;
  border: 35px solid lightgreen;
  border-radius: 15%;
}
.cancelBtn {
  width: 50%;
  margin-left: 50%;
  color: red;
}

.loginBtn {
  margin-right: 10%;
}
