<h1>Reactive lomake</h1>
<form class="container" [formGroup]="profileForm" (ngSubmit)="onSubmit(form2)" #form2="ngForm">
  <mat-form-field class="form-group">
    <label for="firstName">Etunimi</label>
    <br>
    <input matInput
           type="text"
           id="firstName"
           [formControl]="firstName"
           formControlName="firstName"
           class="form-control"
           name="firstName"
           placeHolder="Etunimi">
  </mat-form-field>
  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
       class="alert alert-danger">
    <div *ngIf="firstName.errors.required">Laita etunimi</div>
    <div *ngIf="firstName.errors.minlength">Liian lyhyt nimi</div>
    <div *ngIf="firstName.errors.pattern">Virheellisiä merkkejä</div>
  </div>


  <mat-form-field class="form-group">
    <label for="lastName">Sukunimi</label>
    <br>
    <input matInput
           type="text"
           id="lastName"
           [formControl]="lastName"
           formControlName="lastName"
           class="form-control"
           name="lastName"
           placeHolder="Sukunimi">
  </mat-form-field>
  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
       class="alert alert-danger">
    <div *ngIf="lastName.errors.required">Laita sukunimi</div>
    <div *ngIf="lastName.errors.minlength">Liian lyhyt nimi</div>
    <div *ngIf="lastName.errors.pattern">Virheellisiä merkkejä</div>
  </div>
  <br>

  <mat-form-field class="form-group">
    <label for="email">Email</label>
    <br>
    <input matInput
           type="text"
           id="email"
           [formControl]="email"
           formControlName="email"
           class="form-control"
           name="email"
           placeHolder="Sähköpostiosoite">
  </mat-form-field>
  <div *ngIf="email.invalid && (email.dirty || email.touched)"
       class="alert alert-danger">
    <div *ngIf="email.errors.required">Laita sähköposti</div>
    <div *ngIf="email.errors.minlength">Liian lyhyt osoite</div>
    <div *ngIf="email.errors.pattern">Virheellinen muoto</div>
  </div>
  <br>
  <mat-form-field class="form-group">
    <label for="username">Henkilötunnus</label>
    <br>
    <input matInput
           type="text"
           id="username"
           [formControl]="userName"
           formControlName="userName"
           class="form-control"
           name="username"
           placeHolder="Henkilötunnus">
  </mat-form-field>
  <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
       class="alert alert-danger">
    <div *ngIf="userName.errors.required">Laita henkilötunnus</div>
    <div *ngIf="userName.errors.minlength">Tarvitsee lisää merkkejä</div>
    <div *ngIf="userName.errors.pattern">Virheellinen muoto</div>
  </div>
  <br>
  <mat-form-field class="form-group">
    <label for="password">Salasana</label>
    <br>
    <input matInput
           type="password"
           id="password"
           [formControl]="password"
           formControlName="password"
           class="form-control"
           name="password"
           placeHolder="Salasana">

  <div *ngIf="password.invalid && (password.dirty || password.touched)"
       class="alert alert-danger">
    <div *ngIf="password.errors.required">Laita salasana</div>
    <div *ngIf="password.errors.minlength">Tarvitsee lisää merkkejä</div>
    <div *ngIf="password.errors.pattern">Ei tarvittavia merkkejä</div>
  </div>
  </mat-form-field>
  <mat-form-field>
    <label for="confirmPassword">Vahvista salasana</label>
    <input matInput
           type="password"
           id="confirmPassword"
           formControlName="confirmPassword"
           class="form-control"
           name="confirmPassword"
           pattern="{{password.value}}"
           placeHolder="Vahvista salasana"
           required>
  </mat-form-field>
  <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
       class="alert alert-danger">
    <div *ngIf="confirmPassword.errors.pattern">Ei ole sama</div>
    <div *ngIf="confirmPassword.errors.required">Vahvista salasana</div>
  </div>

  <mat-checkbox formControlName="termsAndConditions">Hyväksy
    <mat-error *ngIf="termsAndConditions.invalid && termsAndConditions.touched">
      HYVÄKSY EHDOT
    </mat-error>
  </mat-checkbox>
  <button mat-raised-button [disabled]="form2.invalid" (click)="openSnackbar()">SUBMIT</button>
</form>
