<h1>Valuuttamuunnin</h1>

<!--<div *ngFor="let item of currencyData$">
  <h2>{{item}}</h2>
</div>-->

<form class="container" [formGroup]="currencyForm" (ngSubmit)="onSubmit($event)">
  <mat-form-field class="form-group">
    <input matInput
           type="number"
           id="amount"
           [formControl]="amount"
           #userAmount
           formControlName="amount"
           class="form-control"
           name="amount"
           placeholder="Syötä summa euroina...">
  </mat-form-field>
  <div *ngIf="amount.invalid && (amount.dirty || amount.touched)"
       class="alert alert-danger">
    <div *ngIf="amount.errors.required">Laita summa</div>
    <div *ngIf="amount.errors.pattern">Laita numeroita</div>
  </div>

  <br>
  <mat-form-field>
    <p *ngIf="currencyData$ | async"></p>
    <label>Valitse valuutta?</label>
    <mat-select #fieldFrom value="valueOne" [(value)]="currencyShort">
      <mat-option></mat-option>
      <!--<mat-option *ngFor="let rate of currencyData$ | async" id="currencyShort" (click)="onSubmit($event)" name="currencyShort" value="{{rate}}">{{rate}}</mat-option>-->
    </mat-select>
  </mat-form-field>
  <p>{{currencyShort}}</p>
  <!--<mat-form-field>
    <label>Mihin?</label>
    <mat-select  #fieldTo class="selection" value="valueTwo" name="amountTo">
      <mat-option *ngFor="let rate of rates" value="{{rate | json}}">{{rate | json}}</mat-option>
    </mat-select>
  </mat-form-field>-->
    <br><br><br>
  <button mat-raised-button (click)="countResult(fieldFrom.value, fieldTo.value, userAmount.value)">Nappula</button>
    <div class="result" id="becomingAmount">{{totalAmount | number:'0.0-2'}}</div>

</form>
