section {
  display: inline-block;
}

.alert {
  color: red;
  font-size: smaller;
}

.container {
  margin-left: 35%;
  background: lightgreen;
  margin-right: 35%;
  border: 35px solid lightgreen;
  border-radius: 15%;
}

.selection {
  background-color: lightgreen;
  border-radius: 15%;
  border: 3px solid lightgreen;
  margin-right: 35%;
}

.result {
  font-size: 30px;
  text-align: center;
}
