<h1>Valuuttamuunnin</h1>

<form class="container" [formGroup]="currencyForm" (ngSubmit)="onSubmit($event)">
  <mat-form-field class="form-group">
    <input matInput
           type="number"
           id="amount"
           [formControl]="amount"
           #userAmount
           formControlName="amount"
           class="form-control"
           name="amount"
           (input)="countResult(fieldFrom.value, userAmount.value)"
           placeholder="Summa valitsemallasi valuutalla...">
  </mat-form-field>
  <div *ngIf="amount.invalid && (amount.dirty || amount.touched)"
       class="alert alert-danger">
    <div *ngIf="amount.errors.required">Laita summa</div>
    <div *ngIf="amount.errors.pattern">Laita numeroita</div>
  </div>
  <br>
  <mat-form-field>
    <label>Valitse valuutta?</label>
    <mat-select #fieldFrom [(value)]="currencyValue">
      <mat-option *ngFor="let currName of currencyData$ | async" value="{{currName.currencyValue}}" (click)="countResult(fieldFrom.value, userAmount.value)">{{currName.valueKey}}</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Valuutan kurssi: {{currencyValue}}</p>
    <br>
  <!--<button mat-raised-button (click)="countResult(fieldFrom.value, userAmount.value)">Laske</button>-->
  <div class="result" id="becomingAmount">{{totalAmount | currency: 'EUR'}}</div>
</form>
